nvm
**/.project
**/.settings
**/.externalToolBuilders
**/.sublime*
**/.vscode
**/.tmp
**/node_modules
**/coverage
**/target
**/config/conf.json
**/.DS_Store
**/app/thrift
**/app/doc
**/app/docs
**/.idea
**/.iml
**/dist
**/lib
**/litmus
**/bin
**/.classpath
**/.factorypath
**/gcp_target


r4e-api2/app/docs/reputation-api-doc.json

r4e-ui-notification/app/rsrc/l10n/notification
r4e-ui-notification/app/src/**/*.css

r4e-api/app/gen-nodejs-*/

r4e-api-internal/app/r4e-gen-nodejs
r4e-api-internal/app/src/reports/reports-json
r4e-api-internal/tmp

r4e-ui/app/rsrc/l10n/core
r4e-ui/app/js
r4e-ui/app/libjs
r4e-ui/jsconfig.json
r4e-ui/app/src/client/**/*.css
r4e-ui/app/src/client/common/util/constants.js

r4e-ui-public/docs
r4e-ui-public/app/rsrc/l10n/core
r4e-ui-public/app/rsrc/l10n/app
r4e-ui-public/app/libjs
r4e-ui-public/app/js
r4e-ui-public/app/fonts
r4e-ui-public/app/flags
r4e-ui-public/app/src/client/**/*.css
r4e-ui-public/app/src/client/common/util/constants.js

r4e-ui-core/app/src/**/*.css

r4e-common/cache/

r4e-ui2/.pnp
r4e-ui2/.pnp.js
r4e-ui2/build
r4e-ui2/storybook-static
r4e-ui2/.env
r4e-ui2/.env.local
r4e-ui2/.env.development.local
r4e-ui2/.env.test.local
r4e-ui2/.env.production.local

r4e-ui2/npm-debug.log*
r4e-ui2/yarn-debug.log*
r4e-ui2/yarn-error.log*
r4e-ui2/public/photoeditorsdk
r4e-ui2/public/rsrc2/images/photoeditorsdk

*.iml
